<footer>

	<div>

		<h3 class="title-footer animated bounce zoomIn">retrouvez nous aussi sur:</h3>

	</div>
	
	<div>
		<ul class="icon-social animated bounceInLeft" id="bottom">
		<li><a href="#"><i class="ion-social-facebook"></i></a></li>
		<li><a href="#"><i class="ion-social-twitter"></i></a></li>
		<li><a href="#"><i class="ion-android-mail"></i></a></li>
		<li><a href="#"><i class="ion-social-github"></i></a></li>
	</ul>
	</div>
	<div class="copy">
		<h4>copyright &copy; By Bibi</h4>
	</div>






</footer>

 <script src="{{'https://code.jquery.com/jquery-3.3.1.js' | relative_url}}"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="{{'assets/script.js' | relative_url}}"></script>

</body>
</html>