<header>
		<div class="position">
		<video id="maxvideo" 
		er="video.jpg" preload="auto" autoplay="true" loop="loop">
		<source src="video.mp4" type="video/mp4">
	</video>
</div>
	
<div class="container-header">

	
	<div class="title">
		<ul class="bar">
			<li><a class="col-md-3" href="#">home</a></li>
			<li><a class="col-md-3" href="#">home</a></li>
			<li><a class="col-md-3" href="#">home</a></li>
			<li><a class="col-md-3" href="#">home</a></li>
		</ul>
	</div>
</div>
<div><h1>L'histoire de la moto</h1></div>
</header>
