<header>
		
	<div class="position">
		<video id="maxvideo" 
			er="video.jpg" preload="auto" autoplay="true" loop="loop">
			<source src="video.mp4" type="video/mp4">
		</video>
	</div>
	


	
	<nav>
		<div class="toggle">
			<i class="ion-navicon menu"></i>
		</div>
		<ul class="bar animated bounceInLeft" id="top">
			<li><a class="#" href="{{ 'index.html' | relative_url }}">Home</a></li>
			<li><a class="#" href="{{'Images.html' | relative_url}}">images</a></li>
			<li><a class="" href="{{ 'video.html' | relative_url}}">Video</a></li>
			<li><a class="#" href="{{ 'inscription.html' | relative_url }}">Inscription</a></li>
			<li><a class="#" href="{{ 'login.html' | relative_url }}">Login</a></li>
		</ul>

	</nav>
<a href="#bottom"><i class="ion-ios-arrow-down"></i></a>
	<div>
		<h1 class="animated bounce zoomIn"><i class="ion-ios-speedometer"></i> L'histoire de la moto <i class="ion-ios-speedometer"></i></h1>
	</div>
</header>
