.row{
	max-width: 1140px;
	margin: 0 auto;
}


// header


h1{
	text-align:center;
	max-width:600px;
	margin:0 auto;
	margin-top:200px;
	margin-bottom:200px;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
	border:1px solid #fff;
	border-radius:8px;
}
.bar{
	text-align:center;
	
	
	background-color: rgba(0,0,0,0.70);
}	
.bar > li{
	display: inline-block;
	padding: 10px 50px 10px 50px;

	&:hover{
		background-color: rgba(255,255,255,0.3);
	}

}

#maxvideo{
	position:fixed;
	top:0;
	left:0;
	min-width:100%;
	min-height:100%;




}

.position{
	position: fixed;
	z-index:-1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top:0;
	left:0;
	
}


 h1 {
	color: #fff;
}

//end header

//section post



.home{
	background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;


	margin: 0 auto;
	
}

.home h2{
	text-align: center;
	padding-top:100px;
	padding-bottom:100px;
	color:#fff;
	font-size:42px;

}

.post-list{
	text-align:center;
	margin-left:-45px;
	padding-bottom:100px;
}

li{
	list-style:none;
}