.row{
	max-width: 1140px;
	margin: 0 auto;
}

// header


h1{
	position:relative;
	text-align:center;
	padding-top:150px;
	padding-bottom:200px;
	color:#fff;

}
.bar{
	text-align:center;
	
	
	background-color: rgba(0,0,0,0.60);
}	
.bar > li{
	display: inline-block;
	padding: 10px 50px 10px 50px;

	&:hover{
		
		background-color:#858A72;
		transition: 1s;
		
	}
}

.bar a{
	color:#fff;
}

#maxvideo{
	position:absolute;
	top:0;
	left:0;
	min-width:100%;
	min-height:100%;
}

.position{
	position: fixed;
	z-index:-1000;
	width: 100%;
	height: 50%;
	overflow: hidden;
	top:0;
	left:0;
}


