<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../asset/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Document</title>
</head>
<body>
<header>
		<div class="position">
		<video id="maxvideo" poster="video.jpg" preload="auto" autoplay="true" loop="loop">
		<source src="../video.mp4" type="video/mp4">
	</video>
</div>
	
<div class="container-header">

	<div>
	<div class="title">
		<ul class="bar">
			<li><a class="col-md-3" href="#">home</a></li>
			<li><a class="col-md-3" href="#">home</a></li>
			<li><a class="col-md-3" href="#">home</a></li>
			<li><a class="col-md-3" href="#">home</a></li>
		</ul>
	</div>

	<div class="row">
		<h1>L'histoire de la moto</h1>
	</div>
</div>
</div>
</header>

<section class="color">
	
</section>
</body>
</html>