---
layout: default
---
<!DOCTYPE html>
	<html>
 
{% include head.html %}
	<body>

		<!--header-->
		{% include header.html %}

			
				<div class="home">

  			<h2 class="animated fadeInUp">Connexion</h2>

  			<section class="position-formulaire">
          <div class="formulaire">
  			<form class="col-md-offset-2 form-background" action="" method="">
  				<table>
  					<tr>
  						<th>ID : </th>
  						<td><input type="text" value="" ></td>
  					</tr>
 
  					<tr>
  						<th>Mot de passe : </th>
  						<td><input type="password" value=""></td>
  					</tr>

  					<tr>
  						<th></th>
  						<td><input type="submit" value="Conexion"></td>
  					</tr>
  				</table>
 
  			</form>
      </div>
  		</section>
  			
 <div>
   <a href="#top"><i class="ion-ios-arrow-up"></i></a>
 </div>
</div>
</section>
{% include footer.html %}