---
layout: default
---



<!DOCTYPE html>
<html>
 
 {% include head.html %}

<body>

<!--header-->
<header>
		
	<div class="position">
		<video id="maxvideo" 
			er="video.jpg" preload="auto" autoplay="true" loop="loop">
			<source src="{{'/video.mp4' | relative_url}}" type="video/mp4">
		</video>
	</div>
	


	
	<div class="title">
		<ul class="bar">
			<li><a class="col-md-2" href="{{ 'index.html' | relative_url }}">Home</a></li>
			<li><a class="col-md-2" href="#">home</a></li>
			<li><a class="col-md-2" href="#">home</a></li>
			<li><a class="col-md-2" href="{{ 'qsfqdsgsdg.html' | relative_url }}">Inscription</a></li>
			<li><a class="col-md-2" href="#">home</a></li>
		</ul>

	</div>

	<div>
		<h1>L'histoire de la moto</h1>
	</div>
</header>

<section>
<div class="home">
  

  

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">Posts</h2>
  
  <div class="content-post">{{ content }}</div>

 
  {%- endif -%}

</div>
</section>

{% include footer.html %}



