---
layout: default
---



<!DOCTYPE html>
<html>
 
 {% include head.html %}

<body>

<!--header-->

		
	<div class="position">
		<video id="maxvideo" 
			er="video.jpg" preload="auto" autoplay="true" loop="loop">
			<source src="{{'/video.mp4' | relative_url}}" type="video/mp4">
		</video>
	</div>
	


{% include header.html %}


<section>
<div class="home">
  

  

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading animated fadeInUp">Posts</h2>
  
  <div class="content-post">{{ content }}</div>

 
  {%- endif -%}

</div>

</section>

{% include footer.html %}



